.section {
 display: block;
 width: 100%;
 padding: 40px 20px 0;
 @media(max-width: @screen-md) {
  margin-top: -50px;
 }
 @media(max-width: @screen-sm){
  padding-left: 0;
  padding-right: 0;
 }

 .logo {
  img {
   width: 110px;
  }
 }//logo

 .image {
  img {
   @media(max-width: @screen-md){
    margin: 0 auto !important;
    max-width: 300px !important;
    float: none !important;
   }

   @media(max-width: @screen-sm) {
    height: auto !important;
   }
  }
 }//image

 .costume-list {
  @media(max-width: @screen-md) {
   margin-left: 60px;
   margin-top: 35px;
  }
 }
}//section

.header {
 margin-bottom: 100px;
 @media(max-width: @screen-md) {
  margin-bottom: 0;
 }
 @media(max-width: @screen-sm) {
  padding-left: 15px;
  padding-right: 15px;
 }
 .logo{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 99;
  padding: 70px 50px;
  margin: -41px -25px -25px;
  left: 25px;
  @media(max-width: @screen-sm){
   position: relative;
   margin: 30px 0 0 -25px;
   padding: 0;
  }
 }
 .row {
  margin-top: 50px;
  position: relative;
  @media(max-width: @screen-sm) {
   margin-top: 0;
  }
 }
 .wrapper {
  .slides{
   position: relative;
   z-index: 1;

   .item{
    .text {
     margin-top: 75px;
     max-width: 540px;
     text-align: center;
    }

    img{
     width: 592px;
     height: 390px;
     margin-top: 27px;
     @media(max-width: 635px) {
      width: 85%;
      height: auto;
     }
     //@media(max-width: @screen-xs) {
     // width: 280px;
     //}
     //@media(max-width: 320px) {
     // width: 220px;
     //}
    }
   }//item

  }//slides

  .tablet {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   img{
    width: 720px;
   }//img
  }//tablet

  .arrows {
   z-index: 1;
   position: absolute;
   top: 190px;
   left: 0;
   right: 0;
   @media(max-width: 635px) {
    top: 126px;
   }

   @media(max-width: @screen-xs) {
    top: 95px;
    img {
     height: 50px !important;
    }
   }

   @media(max-width: 320px) {
    top: 75px;
   }

   .pull-right{
    transform: rotate(180deg);
   }

   img {
    height: 100px;
    cursor:pointer;
    opacity: 0.2;
    transition: all 0.2s;
    &:hover {
     opacity: 1;
    }
   }
  }//arrows
  
  .mouse {
   background: url("../img/icon/mouse.svg")no-repeat;
   height: 35px;
   width: 22px;
   content: "";
   margin: 30px auto;
  }
 }//wrapper

 .slick-dots {
  top: 457px  !important;
  @media(max-width: 635px){
   top: 65% !important;
  }
  @media(max-width: @screen-xs){
   top: 58% !important;
  }
  @media(max-width: 380px) {
   top: 52%!important;
  }
  @media(max-width: 360px) {
   top: 44%!important;
  }
 }

}//header

.integration {
 .image {
  img {
   margin-top: -20px;
   height: 495px;
  }
 }//image

 .text-block {
  margin-top: 45px;
 }//text-block

 .costume-list {
  margin-top: 100px;
  @media(max-width: @screen-sm) {
   margin-top: 50px;
  }
 }
}//integration

.data-quality {
 .image {
  margin-top: -90px;
  @media(max-width: @screen-sm) {
   margin-top:0;
   img {
    margin: 20px auto;
   }
  }
  img {
   margin-top: 90px;
   height: 585px;
   float: right;
  }
 }//image

 .costume-list {
  margin-left: -57.1px;
  margin-top: 24px;

  @media(max-width: @screen-lg) {
   margin-left: -44.1px;
  }
  @media(max-width: @screen-md) {
   margin-left: 60px;
   margin-top: 50px;
  }
 }
}//data-quality

.control {
 .image {
  margin-left: -3px;
  margin-top: -1px;
  @media(max-width: @screen-lg) {
   margin-left: -9px;
  }
  img {
   height: 432px;
  }
 }//image
 .costume-list {
  margin-bottom: 100px;
  @media(max-width: @screen-lg) {
   margin-left: -1.5px;
  }
  @media(max-width: @screen-md) {
   margin-bottom: 0;
   margin-left: 60px;
  }
 }
}//control

.analytics {
 .image {
  img {
   margin:auto;
   height: 498px;
  }
 }//image
 .costume-list {
  margin-top: 35px;
  margin-left:-62px;
  @media(max-width: @screen-lg) {
   margin-left: -45px;
  }
  @media(max-width: @screen-md) {
   margin-top: 35px;
   margin-left: 60px;
  }
 }
 .polymatica {
  margin-top:40px;
  height: 40px;
 }
}// analytics

.constructor {
 .image {
  @media(max-width: @screen-lg) {
   margin-left: -2px;
  }
  img {
   margin:auto;
   height: 410px;
  }
 }//image
 .costume-list {
  margin-top: -65px;
  @media(max-width: @screen-lg) {
   margin-left: -2px;
  }
  @media(max-width: @screen-md) {
   margin-top: 35px;
   margin-left: 60px;
  }
 }
}// constructor

.report {
 .image {
  img {
   margin-left: -168px;
   margin-top: 50px;
   width: 767px;
   @media (max-width: @screen-lg){
    margin-top: 30px;
    width: 700px;
   }
   @media(max-width: @screen-md) {
    margin:0 auto 35px;
   }
  }
 }//image
 .costume-list {
  margin-top: 35px;
  margin-left: -1.1px;
  @media(max-width: @screen-lg) {
   margin-left: -2.1px;
  }
  @media(max-width: @screen-md) {
   margin-left: 60px;
  }
 }

 .desc {
  margin: 70px 0;

  .gr {
   height: 1px;
   width: 100%;
   content: "";
  }

  .__top {
   background: rgb(248,148,40);
   background: -moz-linear-gradient(left,  rgb(248,148,40) 0%, rgb(252,238,35) 100%);
   background: -webkit-linear-gradient(left,  rgb(248,148,40) 0%,rgb(252,238,35) 100%);
   background: linear-gradient(to right,  rgb(248,148,40) 0%,rgb(252,238,35) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f89428', endColorstr='#fcee23',GradientType=1 );
  }

  .__bottom {
   background: rgb(248,148,40);
   background: -moz-linear-gradient(left,  rgb(248,148,40) 0%, rgb(251,226,36) 14%, rgb(252,238,35) 23%, rgb(248,148,40) 84%);
   background: -webkit-linear-gradient(left,  rgb(248,148,40) 0%,rgb(251,226,36) 14%,rgb(252,238,35) 23%,rgb(248,148,40) 84%);
   background: linear-gradient(to right,  rgb(248,148,40) 0%,rgb(251,226,36) 14%,rgb(252,238,35) 23%,rgb(248,148,40) 84%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f89428', endColorstr='#f89428',GradientType=1 );
   position: relative;
   &:after {
    content: url("../img/after.png");
    position: absolute;
    left: 319.1px;
    top: -1px;
    @media(max-width: @screen-lg) {
     left: 251px;
    }
    @media(max-width: @screen-md) {
     display: none;
    }
   }
  }

  .row {
   margin-top: 25px;
   margin-bottom: 35px;
  }

  .title {
   margin-bottom: 20px;
  }
  .text {
   font-style: italic;
  }
  img{
   height: 100px;
   @media (max-width: @screen-md) {
    display: block;
    margin: 10px 0;
   }
  }
 }
}// report

.form {
 padding: 50px 0 70px;
 background: #394657;
 font-family: 'Roboto', sans-serif;
 color: white;
 font-size: 18px;
 .success {
  color: white !important;
  margin: -10px 0 40px !important;
 }
 input {
  height: 40px;
  color: black;
 }
 label {
  text-align: left !important;
 }
 .costume-btn {
  margin-top: 35px;
  position: absolute;
  background: #fbaf3c;
  width: 100%;
  text-transform: uppercase;
  font-family: 'Comfortaa', cursive;
  font-size: 19px;
  text-align: center;
  color: white;
  padding: 19px 0 17px;
  border-radius: 5px;
  box-shadow: none;
  border: none;

  &:hover{
   background: darken(#fbaf3c, 10%);
  }
  @media(max-width: @screen-md) {
   width: 85%;
   left: 0;
   right: 0;
   margin-left: auto;
   margin-right: auto;
  }
  @media(max-width: @screen-xs) {
   font-size: 90%;
  }

 }
}//form

.footer {
 margin-top: 40px;
 .text-muted {
  line-height: 18pt;
  margin-top: 20px;
  margin-bottom: 60px;
  color: #b3b3b3 !important;
  text-align: center;
  display: block;
 }
 .pull-right {
  .text {
   display: block;
   text-align: right;
  }
  margin-bottom: 70px;
 }
 .logo {
  height: 25px;
  @media(max-width: @screen-sm) {
   height: 15px;
   margin-top: 10px;
  }
 }
}//footer