@import "bootstrap/bootstrap";
@import "_sections";
@import url('https://fonts.googleapis.com/css?family=Comfortaa:700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i');


//Colors
@gray: #d6d6d6;
@title-color: #384657;
@text-color: #4d4d4d;

body {
 outline: none !important;
}

.container-fluid {
 padding: 0 !important;
}

.title, h1 {
 font-family: 'Comfortaa', cursive;
 text-transform: uppercase;
 font-size: 24px;
 color: @title-color;
 line-height: 23pt;
 margin-top: 40px;
 margin-bottom: 35px;
 width: 50%;
}

.text, h2, h3 {
 font-family: 'Roboto', sans-serif;
 color: @text-color;
 font-size: 18px;
 line-height: 23pt;
}

.costume-list {
 list-style: none;
 padding: 0;
 li {
  position: relative;
  font-style: italic;
  padding-bottom: 50px;
  &:before {
   position: absolute;
   background: white;
   height: 32px;
   left: -60px;
   top: 0;
   content: url("../img/icon/hexagon.png");
  }
 }
}//costume-list

.line {
 margin-top: -121px;
 overflow: hidden;
 position: absolute;
 margin-left: auto;
 margin-right: auto;
 left: 11px;
 right: 0;
 -webkit-transition-property: height;
 -webkit-transition-duration: .3s;
 transition-property: height;
 transition-duration: .3s;
}
.lineMd {
 left: 37px;
}
//Helpers
//.hr-dashed{
// height: 2px;
// display: block;
// content: '';
// background: url("../img/border-01.svg");
// margin-left: -20px;
// margin-right: -20px;
//}

.relative-center {
 position: relative;
 left: 0;
 right: 0;
 margin-left: auto;
 margin-right: auto;
}

.pl-20 {
 padding-left: 20px;
}

.pr-20 {
 padding-right: 20px;
}

.mb-0 {
 margin-bottom: 0 !important;
}

h1, h2, h3 {
 margin: 0;
}

.email-img {
 margin-right: -7px;
 margin-top: 10px;
}
.text-white {
 color: white !important;
}